<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

<p>Welcome, students of <span th:text="${school}"></span></p>

<table>
    <thead>
    <tr>
        <th> Firstname</th>
        <th> Lastname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.empty}">
        <td> No data found….</td>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.firstName}"> Name </span></td>
        <td><span th:text="${student.lastName}"> Surname </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>